.title {
  background-color: #ff9999;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
}
.upcoming-list {
  flex-wrap: nowrap !important;
}
.released-list {
  display: flex;
}
.left-section {
  width: 76%;
  margin: 16px;
}
.right-section {
  width: 24%;
  margin: 16px;
}
